body {
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    padding: 20px;
    width: 300px;
    background-color: #222222;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #4CAF50;
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
    color: white;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
    background-color: #333;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #2ddd33;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button[type="submit"]:hover {
    background-color: #0BF40A;
    transform: scale(1.05);
}

em {
    color: #f00;
}
